
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 167.1rem;
}.desktop-1-CYY {
  padding: 13.1rem 0rem 27.3rem 10.4rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #621752 0%, rgba(106, 44, 92, 0.6521990895) 34.78%, rgba(64, 19, 54, 0.5099999905) 69.43%, rgba(38, 21, 34, 0) 100%);

  .auto-group-chon-jwn {
    margin: 0rem 59.7rem 15.5rem 0rem;
    box-sizing: border-box;
    padding: 5rem 6.9rem 1.2rem 6.9rem;
    width: 92.2rem;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .product-designer-blessey-oKN {
      max-width: 70.1rem;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #000000;
      font-family: Jacques Francois, 'Source Sans Pro';
    }
  }
  .software-engineer-1-FBN {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 18.8rem 19.3rem;
    width: 58rem;
    height: 44rem;
  }
  .auto-group-eagx-j6Y {
    margin: 0rem 22.9rem 15.2rem 0rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-u4gy-EZ6 {
      font-family: IM FELL French Canon SC, 'Source Sans Pro';
      justify-content: center;
      background-position: center;
      flex-shrink: 0;
      width: 34.4rem;
      font-weight: 400;
      line-height: 1.2575;
      height: 39.9rem;
      color: #ffffff;
      background-image: url('REPLACE_IMAGE:8:12');
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0rem 21.4rem 0.3rem 0rem;
      white-space: nowrap;
      display: flex;
      font-size: 4rem;
    }
    .auto-group-mzvt-2zk {
      height: 39.9rem;
      background-image: url('REPLACE_IMAGE:8:6');
      margin-right: 11.4rem;
      width: 34.7rem;
      font-family: IM FELL French Canon SC, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      background-size: cover;
      background-position: center;
      font-size: 4rem;
      line-height: 1.2575;
      white-space: nowrap;
      align-items: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
      font-weight: 400;
      color: #ffffff;
    }
    .auto-group-emax-hb6 {
      font-weight: 400;
      line-height: 1.2575;
      font-family: IM FELL French Canon SC, 'Source Sans Pro';
      box-sizing: border-box;
      padding: 18rem 5.1rem 16.8rem 5.1rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:8:10');
      flex-shrink: 0;
      margin-top: 0.3rem;
      font-size: 4rem;
      color: #ffffff;
      white-space: nowrap;
      width: 31.9rem;
      background-position: center;
    }
  }
  .auto-group-6g32-L8G {
    flex-shrink: 0;
    margin-right: 83.4rem;
    width: 67.5rem;
    height: 12.1rem;
    position: relative;

    .rectangle-7-G1v {
      top: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 12.4rem;
    }
    .an-intro-about-myself-Nak {
      font-size: 8rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Iceland, 'Source Sans Pro';
      white-space: nowrap;
      width: 67.5rem;
      position: absolute;
      left: 0;
      height: 7.8rem;
      top: 0;
      line-height: 0.97;
    }
  }
  .auto-group-pdda-5EG {
    padding: 14.1rem 24.4rem 11.9rem 18.7rem;
    width: 141.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:8:40');
    flex-shrink: 0;
    margin-left: 15.3rem;
    box-sizing: border-box;
    height: 88.1rem;
    background-size: cover;

    .iam-a-btech-student-at-crescent-institute-of-science-and-technology-and-a-software-developer-with-an-hands-on-experience-in-all-levels-of-testingincluding-performance-functional-integration-system-and-user-acceptance-aRv {
      color: #ffffff;
      font-family: Iceland, 'Source Sans Pro';
      max-width: 98.3rem;
      font-size: 8rem;
      font-weight: 400;
      line-height: 0.97;
    }
  }
}
